# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Logs
logs/
*.log

keys/*.encrypted

# Encrypted/Decrypted output
samples/*.encrypted
samples/*.decrypted

# IDE
.vscode/

# Test cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db